*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #f7f7f0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display:  flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.narvar_item {
  height: 80px;
}

.navbar_links {
  color: #2a2f33;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbarbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1ead;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button:hover:after {
    width: 100%;
  }
  

.navbar_links:hover {
  color: #92b772;
  transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
  .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }

  .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
  }    

  .navbar_menu.active {
      background: #f7f7f0;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
  }

  #navbar_logo {
      padding-left: 25px;
      width: 100%;
      max-width: 60px;
      height: auto;
    }
  
    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #131313;
    }
  
    .navbar_item {
      width: 100%;
    }
  
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbarbtn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

    /* Intro section */
    .intro {
      background: #f7f7f0;
      background-image:url(/imgs/01render.jpg);
      padding: 11rem 0;
    }

    .intro_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 90%;
      z-index: 1;
      width: 100%;
      max-width: 1500px;
      padding: 0 50px;
    }

    .intro_content {
      color: #fff;
      width: 100%;
    }

    .intro_content h1 {
      font-size: 2rem;
      background: #FFEEEE;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #DDEFBB, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
      background-size: 100%;
     -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-transform: uppercase;
      margin-bottom: 32px;
    }

    .intro_content h2 {
      font-size: 3rem;
      background: #fbf2e9; /* fallback for old browsers */
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }

    .intro_content p {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .intro_img--container {
      text-align: center;
      height: 500px;
    }

    .intro_img--card {
      margin: 10px;
      margin-left: 20px;
      height: 500px;
      width: 500px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      background-image:url('');
    }

  
  /* About section */
  .main {
    background-color: #131313;
    padding: 10rem 0;
  }

  .main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }

  .main_content {
    color: #fff;
    width: 100%;
  }

  .main_content h1 {
    font-size: 2rem;
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .main_content h2 {
    font-size: 4rem;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .sec_btn {
    font-size: 1.8rem;
    background: #7f5f47;  /* fallback for old browsers */
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .sec_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }

  .sec_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #92b772;
    transition: all 0.35s;
    border-radius: 4px;
  }

  .sec_btn:hover {
    color: #fff; 
  }

  .sec_btn:hover::after {
    width: 100%;
  }

  .main_img--container {
    text-align: center;
  }

  .main_img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image:url('imgs/01render.jpg');
  }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    min-height: 100vh;
 }